.todo {
    font-size: large;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    background-color: #eee;
}
.imp{
    background-color:blue;
    color: white;
}

.completed{
    text-decoration: line-through;
}